:root {
  --base: rgb(211, 211, 211);
  --text: black;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

body {
  background-color: var(--base);
  color: var(--text);
  margin: auto;
  max-width: 1200px;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Cinzel, serif;
  font-weight: 700;
  text-align: center;
  padding: 0 4%;
}

h1 {
  font-size: 36pt;
}
h2 {
  font-size: 30pt;
}
h3 {
  font-size: 16pt;
  font-weight: 400;
}
h4 {
  font-size: 22pt;
}

.splash {
  width: 50%;
}

.title {
  position: sticky;
  top: 10vh;
}
.title-text {
  border-top: solid 1px var(--text);
}
.title-spacer {
  height: 20vh;
}

.splash > h2 {
  border-top: solid 1px var(--text);
  position: -webkit-sticky;
  position: sticky;
  top: 40vh;
}

.deck {
  box-sizing: border-box;
  border-left: solid 1px var(--text);
  width: 50%;
}

.card {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 60%);
  margin: 36px;
  margin-top: 0;
  padding: 18px;
  max-width: 500px;
  min-width: 200px;
}

.logo-icon {
  width: 42px;
  height: 42px;
}

#portrait-wrapper {
  display: flex;
  justify-content: flex-end;
}

#portrait,
#portrait > img {
  position: relative;
  right: -3%;
  height: 72vh;
  width: 52vh;
  max-width: 644px;
  max-height: 890px;
  min-width: 282px;
  min-height: 390px;
}

#portrait > img {
  position: absolute;
}

@media ((max-width: 500px) or (max-aspect-ratio: 1.15/1)) {
  body {
    /* background-color: red; */
  }

  .splash {
    width: 100%;
  }
  .title-spacer {
    height: 0px;
  }
  .deck {
    border-left: none;
    width: 100%;
  }
  .card {
    max-width: 500px;
    border: none;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  #portrait {
    margin: auto;
    right: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --base: black;
    --text: white;
  }
}
