section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

body {
  /* background-color: rgb(173, 185, 217); */
  margin: auto;
  max-width: 1200px;
  font-family: Gill Sans, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: Copperplate, serif;
  text-align: center;
}

h1 {
  font-size: 36pt;
  text-decoration: underline;
}
h2 {
  font-size: 28pt;
}
h3 {
  font-size: 20pt;
}
h4 {
  font-size: 18pt;
}

.splash {
  width: 50%;
}

.title {
  position: sticky;
  top: 10vh;
}
.title-text {
  border-top: solid 1px black;
}
.title-spacer {
  height: 20vh;
}

.splash > h2 {
  border-top: solid 1px black;
  position: -webkit-sticky;
  position: sticky;
  top: 40vh;
}

.deck {
  box-sizing: border-box;
  border-left: solid 1px black;
  flex-grow: 1;
}

.card {
  box-sizing: border-box;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 60%);
  margin: 32px;
  padding: 18px;
  max-width: 500px;
  min-width: 200px;
}

.logo-icon {
  width: 42px;
  height: 42px;
  fill: black;
}

#portrait-wrapper {
  display: flex;
  justify-content: flex-end;
}

#portrait,
#portrait > img {
  position: relative;
  right: -4%;
  height: 72vh;
  width: 52vh;
  max-width: 644px;
  max-height: 890px;
  min-width: 282px;
  min-height: 390px;
}

#portrait > img {
  position: absolute;
}

@media ((max-width: 500px) or (max-aspect-ratio: 1/1)) {
  body {
    /* background-color: red; */
  }

  .splash {
    width: 100%;
  }
  .title-spacer {
    height: 0px;
  }
  .deck {
    border-left: none;
  }
  .card {
    max-width: none;
    border: none;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  #portrait {
    margin: auto;
    right: none;
  }
}
